@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    background-color: #000000;
    background: #282828;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-style: uppercase;
    font-weight: 600;
    font-stretch: normal;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk5hkWV0ewJER.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

a {
    background-color: #66000000;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

/* Navigation */
.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    background-color: #000;
    border-radius: 5px;
}

.nav-brand {
    width: 100px;
    padding-left: 20px;
}

/*Nav Left*/
.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px;
}

.nav-main ul li a {
    padding: 6px;
    color: white;
}

.nav-main ul li a:hover {
    border-bottom: 6px solid white;
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}


.menu-btn{
    position: absolute;
    cursor: pointer;
    top:15px;
    right: 30px;
    z-index: 2;
    display: block;
}

/*Show Case*/
hr {
    margin: 10px 0;
}
.show-case {
    width: 100%;
    height: 450px;
    background: url('/media/download.png') no-repeat center/cover;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

/*News Cards*/
/* .news-cards-two {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: url(https://4kwallpapers.com/images/wallpapers/dark-background-abstract-background-network-3d-background-2560x1440-8324.png);
    gap: 25px;
    margin: 70px 0;

}

.news-cards-two img {
    width: 100%;
    height: 270px;
    border: 5px solid #9fff00;
}

.news-cards-two h3 {
    font-size: 20px;
    margin: 10px 0;
}

.news-cards-two a {
    padding: 10px 0;
    color: #f2f2f2;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
} */
.body{
    margin: 0;
    padding: 0;
    min-height: 10vh;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open sans';
}

.container-two{
    width: 1000px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 20px;
}

.container-two .card{
    position: relative;
    cursor: pointer;
    padding: 0 30px;
}

.container-two .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container-two .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container-two .card:hover .face.face1{
    background: wheat;
    transform: translateY(0);
}

.container-two .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.container-two .card:hover .face.face1 .content{
    opacity: 1;
}

.container-two .card .face.face1 .content img{
    max-width: 300px;
}

.container-two .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container-two .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container-two .card:hover .face.face2{
    transform: translateY(0);
}

.container-two .card .face.face2 .content p{
    margin: 0;
    padding: 0;
    color: #000;
}

.container-two .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container-two .card .face.face2 .content a:hover{
    background: #333;
    color: #000;
}



/*Contact form*/

.content-two {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    font-family: 'Quicksand', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

.logo {
    text-align: center;
    font-size: 3em;
}

.logo span {
    color: #00FF00;
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper>* {
    padding: 1em;
}

.contact-form {
    background: #222222;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form .block {
    grid-column: 1/3;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}



.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    border-bottom: 1px solid #00FF00;
    color: white;
}

.contact-form form button {
    background-color: #00FF00;
    border: 0;
    text-transform: uppercase;
    padding: 1em;

}

.contact-form form button:hover,
.contact-form form button:focus {
    background-color: black;
    color: white;
    transition: background-color 1s ease-out;
    outline: 0;
}

.contact-info {
    background-color: black;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;

}

.contact-info ul {
    list-style: none;
    padding: 1em;
}

.contact-info ul li {
    padding: .3em;
}

/* Large Screen */
@media (min-width: 700px) {

    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .contact-wrapper>* {
        padding: 2em;
    }

    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        padding: 1em;
        text-align: left;
    }
}

/*social*/
.social {
    margin: 50px;

}

.social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    margin: 0 30px;
}

.links a i {
    font-size: 3rem;
    color: white;
}

/*Footer Links*/
.footer-links {
    background: #2f3640;
}

.footer-container ul li a {
    color: white;
    font-size: 17px;
    align-items: center;
    float: left ;
    padding: 20px;
}

.footer {
    background-color: #2f3640;
    color: #616161;
    padding: 15px 0;
    font-size: 17px;
    text-align: center;
    padding-bottom: 20px;
}

/*Celular*/

@media (max-width: 700px) {

    .menu-btn{
        display: block;
        right: 0;
    }
    .nav-main ul.nav-menu{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #a0ff00;
        height: 100%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-500px);
        -webkit-transform: translateX(-500px);
        -moz-transform: translateX(-500px);
        -ms-transform: translateX(-500px);
        -o-transform: translateX(-500px);
        transition: transform .5s ease-in-out;
        -webkit-transition: transform .5s ease-in-out;
        -moz-transition: transform .5s ease-in-out;
        -ms-transition: transform .5s ease-in-out;
        -o-transition: transform .5s ease-in-out;
}

.nav-main ul.nav-menu.show{
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    z-index: 2;
}

    .nav-main ul.nav-menu li{
        text-align: center;
        font-size: 30px;    
        padding: 20px;
}
/*Cards responsive*/
.container-two{
    width: 50%;
    max-width: 100%;
    grid-template-columns: 1fr;
}

    .news-cards-two {
        grid-template-columns: 1fr;
    }

    
    .news-cards-two img {
        height: 80%;
    }

    .news-cards-two h3 {
        font-size: 15px;
    }

    .news-cards-two p {
        font-size:12px ;
        margin:10px 0 20px 0;
    }

    .news-cards-two a{
        font-size:12px;
        padding: 0;
    }
    
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    
    .footer-container ul {
        justify-content: center;
    }
    
    .footer-container ul li {
        margin-bottom: 10px;
    }
    
    .footer-container ul li a {
        padding: 10px;
    }

    .footer h3{
        visibility: hidden;
    }
    }


    @media (max-width: 500px) {
        .news-cards-two {
            grid-template-columns: 1fr;
        }
        .news-cards-two img{
            height: 270px;
        }
        .footer-links .footer-container {
            grid-template-columns: 1fr;
        }

        .footer-links .footer-container ul {
            text-align: center;
        }
    }